header {
    text-align: center;
}
.carrequitourne {
    position:absolute;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: grey;
    text-align: center;
}

.carre {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    left: 250px;
    top: 100px;
    animation-name: rotation, changeColor;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes changeColor {
    0% {
    background-color: red;
    }
    25% {
    background-color: yellow;
    }
    50% {
    background-color: blue;
    }
    75% {
    background-color: green;
    }
    100% {
    background-color: red;
    }
}
.ballequirebondit {
    position: absolute;
    top: 400px;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: grey;
    text-align: center;
}
.rectangle {
    position: absolute;
    left: 250px;
    width: 50px;
    height: 200px;
    border: 2px solid green;
}
.balle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: green;
    animation-name: rebond;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes rebond {
    0% {
        top: 0px;
    }
    20% {
        top:150px;
    }
    40% {
        top: 50px;
    }
    60% {
        top: 150px;
    }
    80% {
        top: 100px;
    }
    100% {
        top: 150px;
    }
}
.loader {
    position: absolute;
    left: 900px;
    top: 80px;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: grey;
    text-align: center;

}
.boules {
    margin: auto;
    height: 100px;
    width: 306px;
}
.boule1 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    animation-name: changementcouleur;
    animation-iteration-count:infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.boule2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    animation-name: changementcouleur;
    animation-iteration-count:infinite;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
.boule3 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    animation-name: changementcouleur;
    animation-iteration-count:infinite;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
}
@keyframes changementcouleur {
    0% {
        background-color: white;
    }
    50% {
        background-color: grey;
    }
    100% {
        background-color: black;
    }
}
.course {
    position: absolute;
    left: 900px;
    top: 400px;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: grey;
    text-align: center;
}
.menutransform {
    position: absolute;
    top: 80px;
    left: 666px;
    width: 150px;
    height: 80px;
    border: 2px solid black;
    border-radius: 7%;
    background-color: grey;
    text-align: center;
}
.animation3d {
    position: relative;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(160, 55, 55);
    text-align: center;
    margin: auto;
    top: 655px;
}
